<div class="container">
  <br />
  <div class="row">
    <div class="card m-bottom">
      <div class="margen">
        <h1 class="violeta">Hola {{ destino }}!</h1>
        <h4>Hello World desde Angular!</h4>
      </div>
    </div>
    <div class="card m-bottom">
      <!--componente fecha actual-->
      <h3>Creacion de componente "Fecha actual":</h3>
      <app-fechaactual class="margen"></app-fechaactual>
    </div>
    <div class="card m-bottom">
      <!--componente texto copytight con año actual-->
      <h3>Componente texto copyright c/ año actual:</h3>
      <app-copyright class="margen"></app-copyright>
    </div>
  </div>

  <div class="row">
    <div class="card m-bottom">
      <!--componente lista de alumno (view modelo)-->
      <h3>Componente lista de alumno:</h3>
      <app-viewmodelo class="margen"></app-viewmodelo>
    </div>

    <div class="card m-bottom">
      <!--componente puntuación-->
      <h3>Componente puntuación | uso de método:</h3>
      <app-ejmetodo class="margen"></app-ejmetodo>
    </div>
    <div class="card m-bottom">
      <div>
        <!--enviar desde html al ts-->
        <h3>Ejemplo de property Binding | uso de property binding:</h3>
        <app-ejpropertybinding></app-ejpropertybinding>
      </div>
    </div>
    <div class="card m-bottom">
      <!--enviar desde ts a html -->
      <h3>Enviar desde .ts a .html | uso de event binding:</h3>
      <app-ejeventbinding class="margen"></app-ejeventbinding>
    </div>
  </div>

  <div class="row">
    <div class="card m-bottom">
      <!--ejemplo de two way binding-->
      <h3>Uso de two way binding:</h3>
      <app-ej2waybinding class="margen"></app-ej2waybinding>
    </div>
    <div class="card m-bottom">
      <!--ej de directiva ng if-->
      <h3>Uso de directiva ngIf, else + metodo de ambas:</h3>
      <app-ejdirectivangif class="margen"></app-ejdirectivangif>
    </div>
    <div class="card m-bottom">
      <!-- directva ng style-->
      <h3>Uso de directiva ng style:</h3>
      <app-ejdirectivangstyle class="margen"></app-ejdirectivangstyle>
    </div>
    <div class="card m-bottom" style="margin-top: 20px">
      <!--ejemplo directiva ng class-->
      <h3>Uso de directiva ng class:</h3>
      <app-ejdirectivangclass class="margen"></app-ejdirectivangclass>
    </div>
    <div class="card m-bottom">
      <!--ejemplo de directiva ng for-->
      <h3>Uso de directiva ng for:</h3>
      <app-ejdirectivangfor class="margen"></app-ejdirectivangfor>
    </div>
    <div class="card m-bottom">
      <!--Ejemplo de Directiva propia con HostBinding y HostListener-->
      <h3>Uso de Directiva propia con HostBinding y HostListener:</h3>
      <app-ejmidirectiva class="margen"></app-ejmidirectiva>
    </div>
    <div class="card m-bottom">
      <!--ejemplo de directiva ng for con objetos-->
      <h3>Uso de directiva ng for con objetos:</h3>
      <app-ejarrayobjetos></app-ejarrayobjetos>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <!--ejemplo de @Input y @Output padre e hijo-->
        <h3>Uso de @Input y @Output + vista padre e hijo:</h3>
        <app-padre></app-padre>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <!--ej de directiva ngSwitch-->
        <h3>Uso de direciva ngSwitch:</h3>
        <app-ejdirectivangsiwtch></app-ejdirectivangsiwtch>
      </div>
    </div>
  </div>
</div>
